# --- Build ---
/target/
/out/

# --- IDEs ---
# IntelliJ IDEA
/.idea/
/*.iml
*.iws

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# --- OS ---
# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~

# --- Logs ---
*.log

# --- Dependency directories ---
/node_modules/
/bower_components/

# --- Temporary files ---
*.tmp
*.swp
*.bak

# --- Spring Boot specifics ---
/spring.log

# --- Others ---
*.class
*.jar
*.war
*.ear